

.hello {
	font-size: 20px;
	margin-top: 2em;
	text-align: center;
}

		.hello:hover {
			color: pink;
			cursor: pointer;
		}


.point01 {
	width: 20px;
	height: 20px;
	background: black;
	border-radius: 50%;
	position: absolute;
	top: 700px;
	left: 200px;
	cursor: pointer;
}

	.point01-1,
	.point01-2 {
		width: 18px;
		height: 18px;
		border: .5px solid #000;
		border-radius: 50%;
		position: absolute;
		top: 1px;
		left: 1px;
		opacity: 1;
	}

	.point01:hover .point01-1{
		transform: scale(5);
		opacity: 0;
		transition: 3s;
	}

	.point01:hover .point01-2{
		transform: scale(5);
		opacity: 0;
		transition: all 3s 0.5s;
	}

.point02 {
	width: 20px;
	height: 20px;
	background: black;
	border-radius: 50%;
	position: absolute;
	top: 1090px;
	left: 305px;
	cursor: pointer;
}

	.point02-1,
	.point02-2 {
		width: 18px;
		height: 18px;
		border: .5px solid #000;
		border-radius: 50%;
		position: absolute;
		top: 1px;
		left: 1px;
		opacity: 1;
	}

	.point02: hover .point02-1{
		transform: scale(4);
		opacity: 0;
		transition: 2.5s;
	}

	.point02: hover .point02-2{
		transform: scale(4);
		opacity: 0;
		transition: 2.5s 0.5s;
	}

.point03 {
	width: 35px;
	height: 35px;
	background: black;
	border-radius: 50%;
	position: absolute;
	top: 1200px;
	left: 400px;
}

		.point03:hover {
			cursor: pointer;
			width: 120px;
			height: 120px;
			opacity: 0;
			transition: 3.5s;
		}

.point04 {
	width: 35px;
	height: 35px;
	background: black;
	border-radius: 50%;
	position: absolute;
	top: 1500px;
	left: 1200px;
}

		.point04:hover {
			cursor: pointer;
			width: 140px;
			height: 140px;
			opacity: 0;
			transition: 4s;
		}

.point05 {
	width: 35px;
	height: 35px;
	background: black;
	border-radius: 50%;
	position: absolute;
	top: 1900px;
	left: 770px;
}

		.point05:hover {
			cursor: pointer;
			width: 200px;
			height: 200px;
			opacity: 0;
			transition: 2.5s;
		}


