

.hello {
	font-size: 20px;
	margin-top: 2em;
	text-align: center;
}

		.hello:hover {
			color: pink;
			cursor: pointer;
		}


.point01 {
	width: 35px;
	height: 35px;
	background: black;
	border-radius: 50%;
	position: absolute;
	top: 700px;
	left: 200px;
}

	.point01-1 {
		width: 40px;
		height: 40px;
		background: pink;
		border-radius: 50%;
		position: absolute;
		top: 697px;
		left: 197px;
		opacity: 0;
	}

	.point01-1:hover {
		width: 200px;
		height: 200px;
		background: black;
		border-radius: 50%
		opacity 100;
		transition: 6s;
	}

	.point01-2 {
		width: 30px;
		height: 30px;
		background: white;
		border-radius: 50%;
		position: absolute;
		top: 702px;
		left: 202px;
		opacity: 0;
	}

	.point01-2:hover {
		width: 195px;
		height: 195px;
		background: white;
		border-radius: 50%
		opacity 100;
		transition: 6s;

	}



	.point02-3 {


	}

		.point01:hover {
			cursor: pointer;
			width: 170px;
			height: 170px;
			opacity: 0;
			transition: 4s;

		}

.point02 {
	width: 35px;
	height: 35px;
	background: black;
	border-radius: 50%;
	position: absolute;
	top: 1090px;
	right: 305px;
}

		.point02:hover {
			cursor: pointer;
			width: 100px;
			height: 100px;
			opacity: 0;
			transition: 3s;
		}

.point03 {
	width: 35px;
	height: 35px;
	background: black;
	border-radius: 50%;
	position: absolute;
	top: 1200px;
	left: 400px;
}

		.point03:hover {
			cursor: pointer;
			width: 120px;
			height: 120px;
			opacity: 0;
			transition: 3.5s;
		}

.point04 {
	width: 35px;
	height: 35px;
	background: black;
	border-radius: 50%;
	position: absolute;
	top: 1500px;
	left: 1200px;
}

		.point04:hover {
			cursor: pointer;
			width: 140px;
			height: 140px;
			opacity: 0;
			transition: 4s;
		}

.point05 {
	width: 35px;
	height: 35px;
	background: black;
	border-radius: 50%;
	position: absolute;
	top: 1900px;
	left: 770px;
}

		.point05:hover {
			cursor: pointer;
			width: 200px;
			height: 200px;
			opacity: 0;
			transition: 2.5s;
		}


