.hello {
	font-family: times new roman;
	font-size: 20px;
	font-style: normal;
	font-weight: 300;
	text-align: center;
	color: black;
	top: 2em;
	margin: center;
}


.hello:hover {
	color: pink;
	cursor: pointer;



}


.point01 {
	width: 25px;
	height: 25px;
	background: pink;
	position: absolute;
	top: 50px;
	left: 100px;
}