.part-of-lamp {
	position: absolute;
	background: #3a423b;
}

/* vertical lines */

	.lamp01 {
		width: 15.5px;
		height: 220px;
		top: 280px;
		left: 52px;
	}

	.lamp02 {
		width: 1px;
		height: 220px;
		top: 280px;
		left: 65px;
		background: #2d2c2c;
	}

	.lamp03 {
		width: 2px;
		height: 220px;
		top: 280px;
		left: 61px;
		background: #2d2c2c;
	}

	.lamp04 {
		width: 2px;
		height: 220px;
		top: 280px;
		left: 57px;
		background: #2d2c2c;
	}

	.lamp05 {
		width: 1px;
		height: 220px;
		top: 280px;
		left: 54px;
		background: #2d2c2c;
	}
 
/* part under main shaft */

	.lamp06 {
		width: 20px;
		height: 25px;
		top: 500px;
		left: 49.5px;
		border-radius: 0 0 5px 5px;
	}

	.lamp07 {
		width: 2px;
		height: 27px;
		top: 500px;
		left: 67px;
		background: #2d2c2c;
		border-radius: 0 0 100px;
	}

/* semi-circle and rounded part before next shaft */

	.lamp08 {
		left: 41.5px;
		top: 521.5px;
		width: 35px;
		height: 10px;
		border-radius: 50px 50px 0 0;
	}

	.lamp09 {
		left: 48.5px;
		top: 522px;
		width: 22px;
		height: 1px;
		background: #2d2c2c;
		border-radius: 70px 70px 5px 5px;
	}

	.lamp10 {
		left: 41.5px;
		top: 531px;
		width: 35px;
		height: 3px;
		background: #2d2c2c;
		border-radius: 25px 25px 50px 50px;
		z-index: 1;
	}

	.lamp11 {
		left: 36.5px;
		top: 532px;
		width: 44px;
		height: 18px;
		border-radius: 20px 20px 20px 20px;
		z-index: 0;
	}

	.lamp12 {
		left: 39.5px;
		top: 547.5px;
		width: 38px;
		height: 6px;
		border-radius: 0 0 80px 80px;
		background: #2d2c2c;
		z-index: 1;
	}

/* bottom shaft */

	.lamp13 {
		left: 43px;
		top: 551px;
		width: 31px;
		height: 100px;
		z-index: 0;
	}

	.lamp14 {
		left: 71px;
		z-index: 0;
		background: #2d2c2c;
		top: 551px;
		width: 1.5px;
		height: 100px;
	}

/* bottom footer */

	.lamp15 {
		left: 42.5px;
		top: 650px;
		width: 32px;
		height: 5px;
		background: #2d2c2c;
	}

	.lamp16 {
		left: 38.5px;
		top: 655px;
		width: 40px;
		height: 6px;
	}

	.lamp17 {
		left: 30px;
		top: 660.5px;
		width: 57px;
		height: 9px;
		background: #2d2c2c;
		border-radius: 50px 50px 0 0;
	}

	.lamp18 {
		left: 28.5px;
		top: 668px;
		width: 61px;
		height: 15px;
	}

	.lamp19 {
		left: 27px;
		top: 683px;
		width: 63px;
		height: 5px;
		background: #2d2c2c;
	}


/* above shaft-top part under bulb */

	.lamp20 {
		left: 67px;
		top: 270px;
		width: 0;
      	height: 0;
      	border-top: 16px solid transparent;
      	border-right: 5px solid white;
	}

	.lamp21 {
		left: 47px;
		top: 270px;
		width: 0;
      	height: 0;
      	border-top: 14px solid transparent;
      	border-left: 5px solid white;
	}

	.lamp22 {
		left: 52px;
		top: 270px;
		height: 16px;
		width: 15.5px;
	}

	.lamp23 {
		left: 50px;
		top: 258px;
		height: 12px;
		width: 19px;
		background: #2d2c2c;
	}

	.lamp26 {
		left: 48.5px;
		top: 252px;
		width: 22px;
		height: 8px;
	}

	.lamp27 {
		left: 47px;
		top: 251.5px;
		width: 25px;
		height: 1px;
		background: #2d2c2c;
		z-index: 1;
	}

	.lamp28 {
		left: 47px;
		top: 248px;
		width: 25px;
		height: 4px;
	}

/* light part */

	.lamp29 {
		left: 44.57px;
		top: 197.5px;
		width: 30px;
		height: 50px;
		background: #f2ce8d;
		border-radius: 80% 80% 120% 120%;
		z-index: 0;
	}

/*	.lamp30 {
		left: 45px;
		top: 197px;
		width: 30px;
		height: 33px;
		background: red;
		border-radius: 120% 120% 120% 120%;
		z-index: 0;
	}*/
/* thingy above the actual bulb */

	.lamp31 {
		left: 39.5px;
		top: 190px;
		border-radius: 40% 40% 0% 0% / 90% 90% 0% 0%;
		width:40px;
		height:10px;
	}

	.lamp32 {
		left: 49px;
		top: 187px;
		width: 22px;
		height: 4px;
		border-radius: 50% 50% 0% 0% / 90% 90% 0% 0%;
		background: #2d2c2c;
	}

	.lamp33 {
		left: 57.5px;
		top: 181.5px;
		width: 5px;
		height: 6px;
		border-radius: 90%;
	}

	.lamp34 {
		left: 39.5px;
		top: 199px;
		width: 40px;
		height: 4px;
		background: #2d2c2c;
		z-index: 1;
	}

/* thingy around the actual bulb (left side) */

	.lamp35 {
		background: #3a423b;
		height: 50px;
		width: 3.5px;
		border-top-left-radius: 100%;
		border-bottom-left-radius: 100%;
		transform: rotate(-10deg);
		top: 201px;
		left: 42.5px;
		box-shadow: -20px #3a423b;
		z-index: 0;
	}

	.lamp36 {
		left: 42px;
		top: 203px;
		width: 0;
      	height: 0;
      	border-top: 19px solid #3a423b;
      	border-right: 12px solid #f2ce8d;
      	z-index: -2;
	}

	.lamp37 {
		left: 48px;
		top: 239px;
		width: 0;
		height: 0;
		border-top: 14px solid #f2ce8d ;
		border-left: 14px solid #f2ce8d;
		z-index: -1;
	}

/* thingy around the actual bulb (right side) */
	
	.lamp38 {
		background: #3a423b;
		height: 50px;
		width: 3.5px;
		border-top-right-radius: 100%;
		border-bottom-right-radius: 100%;
		transform: rotate(10deg);
		top: 201px;
		left: 73px;
		box-shadow: -20px #3a423b;
		z-index: 0;
	}
	.lamp39 {
		left: 65px;
		top: 203px;
		width: 0;
      	height: 0;
      	border-left: 12px solid #f2ce8d;
      	border-top: 19px solid #3a423b;
      	z-index: -2;
	}

	.lamp40 {
		left: 57.5px;
		top: 235px;
		width: 0;
		height: 0;
		border-top: 15px solid #f2ce8d ;
		border-right: 13px solid #f2ce8d;
		z-index: -1;
	}


/*
	.lamp36 {
		background:white; 	/* this DIV has no background it's only colored by its shadow */
/*		height:60px;
		width:14px;
		border-top-left-radius:190%;
		border-bottom-left-radius:190%;
		position:absolute;				
		top:188px;
		left:60px;
		transform: rotate(185deg);
		box-shadow:-16px 0px 0px 0px; /* code adapted from: https://html-css-js.com/css/generator/box-shadow/ */
/*		z-index:1;
	}

	*/

















