

body {
	width:8500px;
	height:6000px;
}


.library {
	position: absolute;
	top: 415vh;
	left: 420vw;
}

.presentday-centralpark {
	font-size: 20px;
	padding-left: .5em;
}


.bridge1 {
	position: absolute;
	width: 800px;
	top: 5vh;
	left: 35vw;
}

	.bridge1:hover {
		cursor: pointer;
	}

.bridge2 {
	position: absolute;
	width: 900px;
	top: 80vh;
	left: 100vw; 
}

	.bridge2:hover {
		cursor: pointer;
	}

.bridgepond1 {
	position: absolute;
	width: 800px;
	top: 140vh;
	left: 190vw;
}

	.bridgepond1:hover {
		cursor: pointer;
	}

.bridgepond2 {
	position: absolute;
	width: 900px;
	top: 165vh;
	left: 55vw;
}

	.bridgepond2:hover {
		cursor: pointer;
	}

.bridgepond3 {
	position: absolute;
	width: 1000px;
	top: 250vh;
	left: 100vw;
}

	.bridgepond3:hover {
		cursor: pointer;
	}

.bridgepond4 {
	position: absolute;
	width: 900px;
	top: 345vh;
	left: 150vw;
}

	.bridgepond4:hover {
		cursor: pointer;
	}

.pond1 {
	position: absolute;
	width: 850px;
	top: 230vh;
	left: 250vw;
}

	.pond1:hover {
		cursor: pointer;
	}

.aerial {
	position: absolute;
	width: 1300px;
	top: 330vh;
	left: 425vw;
}

	.aerial:hover {
		cursor: pointer;
	}

.park-loc {
	position: absolute;
	width: 800px;
	top: 370vh;
	left: 245vw;
}

	.park-loc:hover {
		cursor: pointer;
	}

.park2-loc {
	position: absolute;
	width: 700px;
	top: 400vh;
	left: 340vw;
}

	.park2-loc:hover {
		cursor: pointer;
	}

.pond2 {
	position: absolute;
	width: 800px;
	top: 260vh;
	left: 340vw;
}

	.pond2:hover {
		cursor: pointer;
	}













