

body{
background:#fcfffd;
width:5400px;
height:6000px;
color:#171010;
font-family:forma-djr-micro, sans-serif;
font-weight: 300;
font-style: normal;
font-size:18px;
text-align:left;
}

/*
Different seasons colors

-Winter: #fcfffd and #171010
-Spring: #1ffb58 and #06230d
-Summer: #199439 and #063a14
-Autumn: #af630c and #731414
*/



h1 {
	letter-spacing: 1px;
	line-height: 1em;
	margin: .5em;
	font-family: ff-scala-sans-pro, sans-serif;
}

h2 {
	margin: .5em;
	padding-top: .5em;
	font-family: ff-scala-sans-pro, sans-serif;
	line-height: .5em;
	color: #4d4b4b;
}

.article {
	position: absolute;
	top: 3400px;
	left: 2700px;
}

.cafe {
	position: absolute;
	top: 3400px;
	left: 6900px;
}

.centralparkwebsite {
	position: absolute;
	top: 4400px;
	left: 6200px;
}

.mywebsite {
	position: absolute;
	top: 6004px;
	left: 12px;
}

.oldcentralpark {
	position: absolute;
	top: 2300px;
	left: 8000px;
}

.stairs {
	height: 850px;
	position: absolute;
	left: 7104px;
	top: 2050px;
	filter: grayscale(100%);
}

	.stairs:hover {
		filter: grayscale(0%);
		cursor: pointer;
	}

.theimage {
	width:700px;
	position:absolute;
	top:70vh;
	left:90vw;
	filter:grayscale(100%);
}

	.theimage:hover {
		/*width:900px;*/
		filter:grayscale(0%);
		cursor: pointer;
	}

.bridge {
	width: 900px;
	position: absolute;
	filter: grayscale(100%);
	top: 2300px;
	left: 800px;
}

	.bridge:hover {
		filter: grayscale(0%);
		cursor: pointer;
	}

.pond-above {
	width: 800px;
	position: absolute;
	filter: grayscale(100%);
	top: 325vh;
	left: 100vw;
}

	.pond-above:hover {
		filter: grayscale(0%);
		cursor: pointer;
	}

.viewofplazahotel {
width:700px;
position:absolute;
top:380vh;
left:305vw;
filter:grayscale(100%);
}

	.viewofplazahotel:hover {
	filter:grayscale(0%);
	cursor: pointer;
	}

.eastsideresivoir {
width:650px;
position:absolute;
top:151vh;
left:170vw;
filter:grayscale(100%);
}

	.eastsideresivoir:hover {
		filter:grayscale(0%);
		cursor: pointer;
	}

.aisleoftrees {
width:900px;
position:absolute;
top:285vh;
left:300vw;
filter:grayscale(100%);
}

	.aisleoftrees:hover {
		filter:grayscale(0%);
		cursor: pointer;
	}

.westsideresivoir {
width:700px;
position:absolute;
top:190vh;
left:260vw;
filter:grayscale(100%);
}

	.westsideresivoir:hover {
		filter:grayscale(0%);
		cursor: pointer;
	}

.whitetext {
color:red;
position:relative;
bottom:40px;
right:50px;
}

.helpsquare {
width:120px;
height:520px;
margin:20px;
background:red;
position:fixed;
top:800px; 
right:30px;
font-size:20px;
color:white;
text-align:center;
font-weight:lighter;
padding:10px;
}

	.helpsquare:hover {
		background:#fcfffd;
		color:#fcfffd;
	}


/*

background color:skyblue
changes to lightblue in the winter

*/


.bluecolor {
	background:lightblue;
	position:absolute;
	width:800px;
	height:800px;
	top:1500px;
	left:1700px;
	border-radius:50%;
	color:white;
	text-align:center;
	text-decoration-style:italic;
	font-style:italic;
	font-weight:lighter;
	transition-duration:0.8s;
	font-size:25px;
	padding:10px;
}

	.bluecolor:hover {
		transform:rotate(365deg);
	}





#bench1 {
	position: relative;
	transform: translateX(-132px);
	top: 4240px;
	left: 5500px;
}

#trash1 {
	position: relative;
	left: 4506px;
	transform: translateY(323px);
	top:165vh;
	left:295vw;
}

#lamp1 {
	position: relative;
	left: 6294px;
	transform: translateY(2752px);
}





















