* {
    box-sizing:border-box;
    padding:0;
    margin:0;
    }


 html, body {
 	font-size: 30px;
 	line-height: 1.4em;
	font-family: ff-scala, sans-serif;
	font-weight: 400;
	font-style: normal;
	color:#334537;
 }


 h1 {
 	font-size: 2rem;
 	line-height:1em;
	font-family: ff-scala-sans-pro, sans-serif;
	font-weight: 700; /* font-weight: 400;*/
	letter-spacing: 8px;
	
	margin-top:1rem;
	margin-bottom:1rem;
 }

 h2 {
 	
 	font-family: ff-scala, sans-serif;
 	font-weight: 400;
 	font-style: italic; 
 	text-align: left;
 }


h3 {
	margin:1rem 0;
	font-size: 1rem;
	font-weight: 400;
	font-family: ff-scala-sans-pro, sans-serif;
	font-style: normal;

}


p {
margin-bottom: 1em;
}



#text {
	margin-left: 1em;
	max-width:80%;	
}
.title-area {
	
	color: rgba(0, 129, 19, 1); /*(255,0,0,0.7);*/	
}



.map-container { cursor: grab; }

	.pre-people,
	.post-people {
		position: fixed;
		top:0;
		right:0;
		max-height: 100%;
		padding:1em;
		width:auto;
	}

	.pre-people {
		transition: opacity 0.5s;
	}


	.map-container:hover > .pre-people {
		opacity: 0;
		scroll-behavior: smooth;
	}



.caption {
	font-size: 0.8em;
	text-align: center;
	margin-bottom: 30px;
	font-family: ff-scala-sans-pro, sans-serif;
	font-style: normal;
	font-weight: 400;
}

	.image-container {
		position: relative;
		max-width: 500px;
		margin: 30px auto 0;
		cursor: pointer;
	}

		.pre-col,
		.post-col {
			max-width:100%;
		}

	.pre-col {
		margin: auto;
		transition: opacity 0.5s;
		position: absolute;
		top: 0;
		left: 0;
	}

	.image-container:hover > .pre-col {
		opacity: 0;
	}


.all-text {

	
	margin-top: 2em;
	
	/*
	margin: 240px 2em 2em;
	line-height: 30px;
	font-weight: lighter;
	color: rgb(18, 62, 24)*/

}


@media (max-width:690px){

html, body {
	font-size: 24px;
}
	
	.map-container {
		position: relative;
		height: 100vh;
	}

	.pre-people,
		.post-people {
			position: absolute;
		}

		#text {
	max-width: 100%;
	margin: 1em;
}


.linktonewyorker {
	font-size: 15px;
	color: black;
	padding-left: 1em;
}

.linktowebsite {
	font-size: 15px;
	color: black;
	padding-left: 1em;
	line-height: .1px;
	padding-bottom: 2em;
}


