* {
    box-sizing:border-box;
    padding:0;
    margin:0;
    }

.title-area {
	position: absolute;
	color: rgba(0, 129, 19, 1); /*(255,0,0,0.7);*/
	top: 0; 
	width: 100%;
	height: 210px;
	left: calc(10px - 100vw);
	text-align: left;
	font-size: 18px;
	max-width: 1000px;
	margin: auto;
	left: 0;
}

.title-area.active {
	left: 0;
}

 html, body {
 	font-size: 20px;
 	line-height: 26px;
	font-family: ff-scala, sans-serif;
	font-weight: 400;
	font-style: normal;
	max-width: 1000px;
	min-width: 300px;
	padding-top: 7.7em;
 }


 h1 {
 	font-size: 45px;
 	padding-top: .9em;
 	padding-left: .4em;
	font-family: ff-scala-sans-pro, sans-serif;
	font-weight: 700; /* font-weight: 400;*/
	font-style: normal; /* font-style: italic; */
	letter-spacing: 8px;
	position: absolute;
	max-width: 15px;
	text-align: left;
	line-height: 1em;
 }

 h2 {
 	padding-top: 7.8em;
 	padding-left: 5.4em;
 	font-family: ff-scala, sans-serif;
 	font-weight: 400;
 	font-style: italic;
 	position: absolute;
 	text-align: left;
 }


h3 {
	padding-top: 17.8em;
	padding-left: 1em;
	font-size: 15px;
	font-weight: 400;
	font-family: ff-scala-sans-pro, sans-serif;
	font-style: normal;
	position: absolute;
}

h4 {
	padding-left: 1em;
	padding-top: 19.5em;
	font-size: 15px;
	font-weight: 400;
	font-family: ff-scala-sans-pro, sans-serif;
	font-style: normal;
	position: absolute;
}

p {
margin-bottom: 1em;
}

/* image on the right of screen*/
/*.pre-people {
	padding: 1em;
	position: fixed;
	right: 30px;
	top: 300px;
	width: 246.675px;
	height: 651.475px;
	cursor: pointer;
}*/

/* image on the right of screen after you scroll a little*/
/*.post-people {
	padding: 1em;
	position: fixed;
	right: 30px;
	top: 300px;
	width: 246.675px;
	height: 651.475px;
	cursor: pointer;
}*/

.post-people {
	position: fixed;
	top: 70px;
	right: 20px;
	width: 443px;
	height: 1602px;
	margin: auto;
}

.map-container {
	position: relative;
	max-width: 400px;
	margin: 30px 25px 25px 400px;
	cursor: pointer;
}

	.pre-people,
	.post-people {
		max-width: 80%;
		max-height: 150%;
	}

	.pre-people {
		margin: auto;
		transition: opacity 0.5s;
		position: fixed;
		top: 70px;
		right: 20px;
		width: 443px;
		height: 1602px;
	}


	.map-container:hover > .pre-people {
		opacity: 0;
		scroll-behavior: smooth;
	}



.caption {
	font-size: 0.8em;
	text-align: center;
	margin-bottom: 30px;
	font-family: ff-scala-sans-pro, sans-serif;
	font-style: normal;
	font-weight: 400;
}

	.image-container {
		position: relative;
		max-width: 500px;
		margin: 30px auto 0;
		cursor: pointer;
	}

		.pre-col,
		.post-col {
			max-width:100%;
		}

	.pre-col {
		margin: auto;
		transition: opacity 0.5s;
		position: absolute;
		top: 0;
		left: 0;
	}

	.image-container:hover > .pre-col {
		opacity: 0;
	}


.all-text {

	max-width: 780px;
	margin-top: 2em;
	margin-left: 1em;
	/*
	margin: 240px 2em 2em;
	line-height: 30px;
	font-weight: lighter;
	color: rgb(18, 62, 24)*/

}


@media (max-width:690px){
	body{
		margin: auto;
		padding-top: 7.8em;
		margin: left;
	}
}

@media (max-width: 515px){
	body{
		padding-top: 7.9em;
	}
}


